name: CI/CD for Minikube

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted   # your own PC

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure Minikube Docker env (PowerShell)
      shell: powershell
      run: |
        # ensure minikube is running (optional)
        minikube status || minikube start

        # make docker CLI use minikube's docker daemon for the current shell
        & minikube -p minikube docker-env --shell powershell | Invoke-Expression


    - name: Build Docker images
      shell: pwsh
      run: |
        docker build -t shortener:latest .\shortener-service
        docker build -t redirect:latest .\redirect-service
        docker build -t analytics:latest .\analytics-service
        docker build -t api-gateway:latest .\api-gateway

    - name: Unset docker-env
      shell: powershell
      run: |
        & minikube -p minikube docker-env --unset --shell powershell | Invoke-Expression


    - name: Deploy to Kubernetes
      shell: pwsh
      run: |
        kubectl apply -f .\k8s\

