name: CI/CD for Minikube

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Ensure Minikube is running
      shell: powershell
      run: |
        $status = minikube status 2>&1
        if ($status -match "Stopped" -or $status -match "Does Not Exist" -or $status -match "Unavailable") {
          Write-Host "Starting Minikube..."
          minikube start
        } else {
          Write-Host "Minikube is already running."
        }

    - name: Configure Minikube Docker env
      shell: powershell
      run: |
        & minikube -p minikube docker-env --shell powershell | Invoke-Expression

    - name: Build Docker images
      shell: powershell
      run: |
        docker build -t analytics:latest ./analytics-service
        docker build -t api-gateway:latest ./api-gateway
        docker build -t redirect:latest ./redirect-service
        docker build -t shortener:latest ./shortener-service

    - name: Unset docker-env
      shell: powershell
      run: |
        & minikube -p minikube docker-env --unset --shell powershell | Invoke-Expression

    - name: Deploy to Kubernetes
      shell: powershell
      run: |
        kubectl apply -f .\k8s\

