name: CI/CD for Minikube

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted   # your own PC

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Ensure Minikube is running (PowerShell)
      shell: powershell
      run: |
        $status = minikube status 2>&1
        if ($status -match "Stopped" -or $status -match "Does Not Exist" -or $status -match "Unavailable") {
          Write-Host "Starting Minikube..."
          minikube start
        } else {
          Write-Host "Minikube is already running."
        }



    - name: Build Docker images
      shell: pwsh
      run: |
        docker build -t shortener:latest .\shortener-service
        docker build -t redirect:latest .\redirect-service
        docker build -t analytics:latest .\analytics-service
        docker build -t api-gateway:latest .\api-gateway

    - name: Unset docker-env
      shell: powershell
      run: |
        & minikube -p minikube docker-env --unset --shell powershell | Invoke-Expression


    - name: Deploy to Kubernetes
      shell: pwsh
      run: |
        kubectl apply -f .\k8s\


